<p id="notice"><%= notice %></p>

<p>
  <b>Imie:</b>
  <%= @agnieszka1.imie %>
</p>

<p>
  <b>Nazwisko:</b>
  <%= @agnieszka1.nazwisko %>
</p>


<%= link_to 'Edit', edit_agnieszka1_path(@agnieszka1) %> |
<%= link_to 'Back', agnieszka1s_path %>
